.chat {
    flex: 2;
    border-left: 1px solid rgb(107, 105, 105);
    border-right: 1px solid rgb(107, 105, 105);
    display: flex;
    flex-direction: column;


    .top {
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(107, 105, 105);


        .user {
            display: flex;
            align-items: center;
            /* justify-content: space-between;  */
            gap: 10px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: rgb(159, 156, 156);
                }

            }



        }

        .icons {
            display: flex;
            /* align-items: s; */
            gap: 20px;


            img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
    }

    .center {
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;
        gap: 10px;

        .message {
            max-width: 70%;
            display: flex;
            gap: 10px;

            &.own {
                align-self: flex-end;
                display: flex;
                flex-direction: column;


                img {
                    height: 100vh;
                    width: 100%;
                    border-radius: 10px;

                }

                .texts {
                    p {
                        background: #5183fe;
                    }
                }
            }


            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                    padding: 10px;
                    background-color: rgb(17, 25, 40, 0.3);
                    border-radius: 10px;
                }

                span {
                    font-size: 13px;
                }
            }


        }
    }

    .bottom {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgb(107, 105, 105);
        gap: 10px;
        margin-top: auto;


        .icons {
            display: flex;
            gap: 12px;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

        }

        input {
            background: rgba(107, 105, 105, 0.125);
            flex: 1;
            border: none;
            outline: none;
            padding: 15px;
            border-radius: 10px;
            color: white;
            font-size: 16px;

        }

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        .sendButton {
            color: white;
            background-color: blue;
            border-radius: 4px;
            padding: 10px;
            border: none;
            outline: none;
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                bottom: 40px;
                left: 0px;
            }
        }



    }

}

/* Webkit-based browsers (Chrome, Safari, etc.) */
.chat .center::-webkit-scrollbar {
    width: 4px;
    /* Width of the scrollbar */
}

/* Track */
.chat .center::-webkit-scrollbar-track {
    background: rgba(17, 25, 40, 0.5);
    ;

}